// Brand Colors
$brand-mint: #80F1B1;
$brand-dark-blue: #343891;

// Accent Colors
$accent-off-white: #FCF7F1;
$accent-purple: #6C16FF;

// Functional Colors
$functional-green: #559B77;
$functional-navy: #24265B;
$functional-light-gray: #D9D9D9;

// Neutral Colors
$neutral-dark-gray: #27272D;
$neutral-medium-gray: #35353D;
$neutral-slate-gray: #484854;
$neutral-light-slate-gray: #737380;
